{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | A propos...{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="center mb-5">A propos de l'application</h1>
    <div class="client-form mt-5 p-3">
        
    </div>
</div>
{% endblock %}
