{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouveau cient{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="center mb-5">Ajouter un client</h1>

    {{form(clientForm)}}
</div>
{% endblock %}
