<h3>Nouvelle réservation</h3>

<p>{{ client.name }} {{ client.initial }} vient de réserver du {{ client.arrivalDate }} au {{ client.departureDate}}</p>

<p>Pensez à consulter régulièrement le calendrier des locations à l'adresse : xxxxx</p>