<!DOCTYPE html>
<html>

<h3>Nouvelle réservation</h3>

<p>{{ client.firstname }} {{ client.initial }} vient de réserver du {{ client.arrivalDate|date("d/m/Y à H:m") }} au {{ client.departureDate|date("d/m/Y à H:m")}}</p>

<p>Pensez à consulter régulièrement le calendrier des locations à l'adresse : xxxxx</p>

</html>